//
// --------------------------------------------------
// DIRECTORY
/// 1. Variables
///    - Colors
///    - Layout
///    - Typography
/// 2. Global
///    - Buttons
/// 3. Layout
///    - Header
///    - Header Extra Info
/// 4. Content
///    - Topic List

// --------------------------------------------------
//


//
// VARIABLES – COLORS
// --------------------------------------------------
$color-purple: #2F1A80;
$color-eggplant: #51224A;
$color-coral: #F4675E;

$color-yellow: #FFCF27;
$color-yellow-light: lighten($color-yellow, 35%);

$color-melon-dark: #F8D4CF;
$color-melon: #FBE6E4;
$color-melon-light: #F8F3F1;

$color-beige: #FCF9F2;

$color-black: #000000;
$color-gray: #5F5F5F;
$color-gray-light: #e4e4e4;
$color-gray-lighter: #f6f6f6;
$color-white: #FFFFFF;

//
// VARIABLES - LAYOUT
// --------------------------------------------------
$layout-gutter: 1rem;
$layout-border-radius: 3px;

$topic-avatar-width: 30px;
$topic-box-shadow: 0px 1px 6px rgba(0,0,0,0.1);

//
// VARIABLES – TYPOGRAPHY
// --------------------------------------------------
$font-merriweather: 'Merriweather', Georgia, serif;
$font-archivo: 'Archivo', sans-serif;

$font-serif: $font-merriweather;
$font-sans-serif: $font-archivo;

$base-font-family: $font-sans-serif;


//
// ANIMATIONS
// --------------------------------------------------
@keyframes background-fade-highlight {
  0% {
    background-color: $highlight;
  }
  100% {
    background-color: $color-white;
  }
}


//
// GLOBAL
// --------------------------------------------------
body {
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $base-font-size-smaller;
  background-color: $secondary;
}

blockquote {
  border-left: 5px solid $color-melon-dark;
  background-color: $color-gray-lighter;

  blockquote {
    background-color: $color-white;
  }
}

p {
  font-family: $font-serif;
  line-height: 1.5;
}

a {
  transition: all ease-out 0.15s;
}

.contents {
  h2,
  h3 {
    color: $quaternary;

    .d-icon {
      opacity: 0.75;
      margin-right: 8px;
    }
  }

  .cooked {
    line-height: 1.5;
    font-family: $font-serif;
  }

  ol li,
  ul li {
    margin-bottom: 4px;
    font-family: $font-serif;
  }
}

//
// Forms
// --------------------------------------------------
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.select-kit.combo-box .select-kit-header,
.select-kit.combo-box .combo-box-header,
.nav-pills > li > a.toggle-link  {
  background-color: $color-white;
  border: 1px solid $color-gray-light;
  border-radius: $layout-border-radius;
  font-family: $font-sans-serif;

  &:focus {
    border: 1px solid lighten($color-gray, 20%);
    box-shadow: 0 0 8px 0 $color-gray-light;
    background-color: white;
  }
}

.select-kit.multi-select.is-expanded .select-kit-wrapper,
.select-kit.combo-box .select-kit-header.is-focused {
  box-shadow: 0 0 8px 0 $color-gray-light;
  border-radius: $layout-border-radius;
  border: 1px solid lighten($color-gray, 20%);
}

.select-kit.multi-select .select-kit-header,
.select-kit.combo-box .select-kit-header,
.select-kit.combo-box .combo-box-header,
.d-editor-textarea-wrapper,
.select-kit-wrapper,
.select-kit.multi-select {
  border-radius: $layout-border-radius;
}

div.ac-wrap,
.d-editor-textarea-wrapper,
.select-kit.dropdown-select-box.composer-actions .select-kit-header,
.select-kit.multi-select .select-kit-header,
.select-kit.combo-box .select-kit-header,
.select-kit.combo-box .combo-box-header {
  background-color: $color-white;
  border: 1px solid $color-gray-light;

  &:focus,
  &:hover {
    box-shadow: 0 0 8px 0 $color-gray-light;
    border: 1px solid lighten($color-gray, 20%);
  }
}

.select-kit.multi-select .choices .selected-name .body:hover {
  background-color: $color-gray-light;

  .fa {
    color: $primary;
  }
}

//
// Buttons
// --------------------------------------------------
.btn {
  border-radius: $layout-border-radius;

  .d-icon {
    opacity: 0.80;
  }

  .discourse-no-touch & {
    &:hover,
    &.btn-hover {
      color: $primary;
      background-color: $primary-low-mid;
      box-shadow: $topic-box-shadow;

      .d-icon {
        color: $primary;
      }
    }
  }
}

.btn-primary {
  color: $color-white;
  background-color: $tertiary;
}

.btn-danger {
  color: $color-white;

  &[href] {
    color: $color-white;
  }
}

.btn-text {
  background-color: $color-white;
}

//
// HEADER
// --------------------------------------------------
.d-header {
  box-shadow: none;
  height: 5em;
  border-bottom: 3px solid $header_primary;
}

#site-text-logo {
  font-family: $font-archivo;
  padding-right: 1rem;
  font-size: 18px;
  color: $tertiary;
  font-weight: 700;
  text-shadow: 2px 2px 0 black;
  transition: 0.15s ease-out all;
  text-transform: uppercase;

  &:hover {
    color: $header_primary;
    text-shadow: 2px 2px 0 $primary;
  }
}

.d-header-icons {
  .header-dropdown-toggle {
    margin-left: 1rem;
  }

  .d-icon {
    color: $tertiary;
    font-size: $base-font-size;
  }

  .icon {
    border-radius: 50%;
    border: none;

    &:focus,
    &:hover {
      border: none;
    }
  }

  .drop-down-mode & {
    .active .icon {
      position: relative;
      border-color: $header_primary;
      background-color: $header_primary;
      cursor: default;
      border: none;

      .d-icon {
        color: $primary;
      }

      &:after {
        border: none;
      }
    }
  }
}

///
/// HEADER - EXTRA INFO
// --------------------------------------------------
.extra-info-wrapper {
  .topic-link {
    color: $tertiary-medium;
    font-family: $font-serif;
    font-size: $base-font-size;
    margin: 4px 0;

    &:hover {
      color: $quaternary;
    }
  }

  .discourse-tag {
    color: $quaternary-low !important;
    font-family: $font-serif;

    &:hover {
      color: $quaternary !important;
    }
  }

  .badge-wrapper {
    margin-right: 12px;
  }

  .badge-wrapper.bullet span.badge-category,
  .badge-wrapper.bar span.badge-category,
  .badge-wrapper.none span.badge-category {
    color: white;
  }
}

///
/// TOPIC LIST
// --------------------------------------------------
ol.category-breadcrumb {
  margin-right: 1.5rem;
}

.directory table,
.groups-table,
.group-members,
.category-list,
.topic-list {
  th {
    text-transform: uppercase;
    font-size: 12px;
    color: $quaternary;
    font-weight: bold;
  }

  th.default {
    padding-left: 0;
  }

  .sortable:hover {
    background-color: $color-white;
  }

  > tbody {
    border-top: 3px solid $tertiary-medium;
    box-shadow: $topic-box-shadow;
  }

  td {
    background-color: $color-white;
  }

  .topics {
    text-align: center;
  }
}

.topic-list-item {
  border-bottom: 1px solid $primary-low;
  background-color: $color-white;
  font-family: $font-serif;

  &:hover {
    td {
      background-color: $primary-very-low;
      color: $primary-high;
    }
  }
}

.topic-list-main-link a.title,
.topic-list .main-link a.title,
.latest-topic-list-item .main-link a.title {
  font-size: 15px;
  padding: 0;
  margin-bottom: $layout-gutter / 2;
  display: inline-block;
}

.topic-list-item.visited,
.latest-topic-list-item.visited,
.category-topic-link.visited {
  a.title:not(.badge-notification) {
    color: $primary-high;

    &:hover {
      color: $primary;
    }
  }
}

.topic-statuses {
  margin-right: 0.5rem;
}

.badge-category-bg {
  border-radius: 9px;
}

.badge-wrapper span.badge-category {
  font-family: $font-sans-serif;

  &:hover {
    color: $primary;
  }

  .extra-info-wrapper & {
    color: white;

    &:hover {
      color: $tertiary;
    }
  }
}

#create-topic {
  background-color: $tertiary;
  color: $color-white;

  .fa {
    color: $color-white;
  }

  &:hover {
    background-color: $header_background;
    color: $color-white;

    .fa {
      color: $color-white;
    }
  }
}

//
// TOPIC PAGE
// --------------------------------------------------
.fancy-title {
  font-family: $font-serif;
  font-weight: 400;
  font-size: $base-font-size-larger;
}

.topic-post .row {
  box-shadow: $topic-box-shadow;
  margin-bottom: 2rem;
}

.topic-body {
  background-color: $color-white;
}

.topic-avatar {
  padding: $topic-body-width-padding;

  .avatar {
    height: $topic-avatar-width;
    width: $topic-avatar-width;
  }
}

.topic-status-info {
  border: 0;
  padding: 0;
}

.badge-notification.new-posts,
.badge-notification.unread-posts {
  color: $quaternary;
}

// Blockquotes
aside.quote .title {
  border-left: 5px solid darken($color-melon-dark, 5%);
  background-color: darken($color-gray-lighter, 3%);
  padding: 12px;
}

// Moderator post
.moderator .topic-body {
  background-color: $tertiary-low;

  .cooked {
    background-color: $tertiary-low;
  }
}

// Post Cpntrols
.post-menu-area {
  margin-bottom: 0;
}


// Lines in between posts
.small-action {
  border-top: 1px solid $color-melon-dark;
  margin-bottom: 1rem;

  .topic-avatar {
    background-color: none;
    padding: 0;
    width: auto;
  }

  .onscreen-post {
    background: transparent;
    font-family: $font-sans-serif;

    .topic-avatar {
      padding: 1rem 0;
      background: transparent;
    }
  }
}


//
// Topic Map
// --------------------------------------------------
.topic-map {
  margin: 0;
  border: 0;
  background-color: $color-gray-lighter;
  border-bottom: 1px solid $color-gray-light;

  .map li {
    text-align: center;

    h4 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 0.75rem;
    }
  }

  .map li:nth-child(3),
  .map li.secondary {
    h4 {
      margin-top: 0.75rem;
      margin-bottom: 0;
    }
  }

  .map .number {
    font-weight: 700;
    color: $primary-medium;
  }

  .widget-button.btn {
    background-color: $color-gray-lighter;
    border-radius: 0;
  }

  .topic-map-extended {
    border: 0;
  }
}

.who-liked {
  padding-right: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    margin: 0.35rem;
  }
}

//
// MODALS
// --------------------------------------------------
.modal-inner-container {
  background-color: $color-white;
}

.inline-modal .modal-inner-container {
  border: 1px solid $primary-medium;
}

//
// DROPDOWNS & POPUPS
// --------------------------------------------------
#user-card,
#group-card {
  background: $primary-very-low center center;

  .card-content {
    background: rgba($primary-very-low, 0.85);
  }
}

#share-link {
  background-color: $color-white;
}

.user-menu .notifications {
  li {
    background-color: $color-yellow-light;

    &:hover,
    &:hover a {
      background-color: darken($color-yellow-light, 10%);
    }
  }

  li.read {
    background-color: $tertiary-low;
  }

  li.read:hover,
  li.read:hover a,
  li.read a:hover {
    background-color: darken($tertiary-low, 10%);
  }
}

.select-kit {
  .select-kit-collection,
  .select-kit-body {
    background-color: $color-white;
  }

  .select-kit-row.is-selected,
  .select-kit-row.is-selected:hover,
  .select-kit-row.is-selected.is-highlighted,
  .select-kit-row.is-selected.is-highlighted:hover,
  .select-kit-row.is-highlighted,
  .select-kit-row.is-highlighted:hover {
    background-color: $highlight;
  }

  &.dropdown-select-box.period-chooser .period-chooser-header {
    h2.selected-name {
      &:hover {
        color: $header_background;

        .date-section {
          color: $header_background;
        }

        .top-date-string {
          color: $primary;
        }
      }

      .top-date-string {
        font-size: $base-font-size-smaller;
        margin-left: 0.5rem;
        font-weight: bold;
      }
    }

    &:hover {
      box-shadow: none;
    }
  }

  &.dropdown-select-box.period-chooser .period-chooser-row {
    font-family: $font-sans-serif;

    .top-date-string {
      font-weight: bold;
    }
  }
}

.menu-panel {
  background-color: $color-white;

  li a,
  li.heading a {
    padding: 0.5rem;
    font-family: $font-sans-serif;
    color: $quaternary;

    &:hover,
    &:focus {
      background-color: $tertiary-low;
      color: $quaternary;

      .fa {
        color: $quaternary;
      }

      .blurb {
        color: $primary;
      }
    }
  }
}

.user-stream .item,
.user-stream .user-stream-item {
  background-color: $color-white;
  padding: 1rem;
  border-bottom: 1px solid $highlight;

  &:last-child {
    border-bottom: none;
  }

  blockquote {
    background-color: $color-white;
  }
}

.user-stream .avatar-link {
  margin-right: 1rem;
}

.user-secondary-navigation .nav-stacked,
.nav-stacked {
  background-color: transparent;
}

//
// Navigation
// --------------------------------------------------
.nav-pills > li {
  & > a {
    color: mix($primary-high, $primary);
    padding-left: 0;
    padding-right: 0;
    margin-right: 1rem;
    border-bottom: 2px solid transparent;

    &:hover {
      color: black;
      border-bottom: 2px solid $header_primary;
      background-color: transparent;
    }
  }

  a.active {
    background-color: transparent;
    color: $quaternary;
    font-weight: 700;
    border-bottom: 2px solid $tertiary;

    &:hover {
      border-bottom: 2px solid $header_primary;
      color: $primary;
    }
  }
}

.select-kit.multi-select .select-kit-header,
.select-kit.combo-box .select-kit-header,
.select-kit.combo-box .combo-box-header {
  .badge-wrapper.bullet span.badge-category {
    color: $primary;
  }
}

//
// List controls
// --------------------------------------------------
.list-controls {
  margin: 1.5rem 0;
}

.list-controls .nav-pills .drop {
  background-color: $color-white;
  border: 1px solid $color-gray-light;
  border-radius: $layout-border-radius;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
  }

  a {
    padding: 0.5rem;
    box-sizing: border-box;

    &:hover,
    &:focus {
      background-color: $highlight;
    }
  }
}

.list-controls .nav-pills .navigation-toggle {
  border: 0;

  .toggle-link {
    padding: 0 5px 0 10px;

    &:hover {
      box-shadow: 0 0 8px 0 $color-gray-light;
      border: 1px solid lighten($color-gray, 20%);
      background-color: $color-white;
    }
  }
}

//
// User pages
// --------------------------------------------------
.user-content {
  background-color: transparent;
}

table.group-members tr td {
  padding: 0.5rem;
}

.user-main .about {
  margin-bottom: 0;

  .details,
  &.collapsed-info .details {
    background-color: $color-white;
    margin-top: 1rem;
    border-radius: $layout-border-radius;

    .primary {
      padding: 1rem;
      box-sizing: border-box;
    }
  }

  .secondary dt {
    color: $primary-medium;
  }
}



.user-content-wrapper {
  background-color: $color-white;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: $layout-border-radius;
}

.user-content-wrapper,
.group-details-container {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}

.group-details-button {
  right: 0;
}

//
// Badges
// --------------------------------------------------
.badge-groups {
  color: $primary-medium;
}

.badge-card .badge-contents {
  background-color: $color-white;
  border-radius: $layout-border-radius;
}

//
// Cakeday
// --------------------------------------------------
.cakeday-months {
  .select-kit.combo-box {
    position: relative;
    top: -3px;
    left: 10px;
  }
}

//
// Reply area
// --------------------------------------------------
.reply-area,
.d-editor-textarea-wrapper textarea {
  background-color: $color-white;
}

.d-editor-button-bar .btn,
.d-editor-button-bar .btn-default {
  border-radius: 0;
}

.open .grippie {
  background-color: $header_primary;
}

.composer-popup {
  background-color: $color-melon-light;
  box-shadow: none;
  top: 11px;
  bottom: 0;
  right: 0;
  left: auto;
}

//
// Alerts
// --------------------------------------------------
.alert.alert-info {
  background-color: $color-yellow-light;
  box-shadow: 3px 3px 0 $primary-very-low;

  .buttons a {
    margin-top: 0.5rem;
  }

  .btn {
    margin-right: 1rem;
  }
}

//
// Signup CTA
// --------------------------------------------------
.alert.signup-cta {
  background-color: $highlight;
  box-shadow: 3px 3px 0 $tertiary;
}

//
// Footer
// --------------------------------------------------
.footer-message  {
  a {
    color: $tertiary;

    &:hover {
      color: $quaternary;
    }
  }

  p {
    color: $primary-high;
  }

  ul li {
    font-family: $font-serif;
  }

  .btn.btn-default {
    font-size: $base-font-size-smaller;
    background-color: $color-white;
    font-weight: 700;
  }
}

.suggested-topics th {
  color: $color-gray;
}

#topic-footer-buttons .topic-notifications-button {
  .reason {
    display: inline-block;
    margin-left: 10px;
  }
}

//
// Search
// --------------------------------------------------
.search-container {
  background-color: $color-white;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 3px 3px 0 $color-melon-dark;
}

.search-result-topic .topic {
  margin-bottom: 0.5rem;
}

//
// Other
// --------------------------------------------------
.body-page {
  padding-top: 1rem;
}


//
// 404
// --------------------------------------------------
.page-not-found-topics {
  background-color: $color-white;
  padding: 1rem;
  box-shadow: 3px 3px 0 $color-melon-dark;
}

//
// Styleguide
// --------------------------------------------------
.styleguide-contents {
  background: $color-white;
  padding: 1rem;
}

.styleguide-menu ul {
  margin-left: 0;
}
