//
// Topics
// --------------------------------------------------
.topic-meta-data {
  position: absolute;
  top: -37px;
  width: calc(#{$topic-body-width} - (#{$topic-avatar-width} + #{$topic-body-width-padding}));
  z-index: 11;
  padding: 0 !important;
  right:  $topic-body-width-padding;
}

.topic-avatar {
  float: none;
  border-top: 3px solid $tertiary-medium;
  width: $topic-body-width;
  background-color: #fff;
}

.topic-map .map li {
  padding: 1rem;
}

.topic-post .row {
  width: $topic-body-width + ($topic-body-width-padding * 2);
}

.topic-body {
  float: none;

  .reply-to-tab {
    margin-top: -3px;
  }

  .regular {
    margin-top: 0;
  }
}

.read-state {
  right: -35px;
}

.small-action {
  max-width: $topic-body-width + ($topic-body-width-padding * 2);
}

.time-gap + .topic-post .topic-body {
  border-top: 1px solid #ebebeb;
}

.time-gap + .topic-post .topic-avatar {
  border-top: 3px solid $tertiary-medium;
}

//
// List controls
// --------------------------------------------------
.list-controls .navigation-container {
  margin-top: 1.25rem;
  margin-bottom: 0;
}
